DATABASE_URL="postgresql://dragonuser:PASSWORD@localhost:5432/dragondb"
JWT_SECRET="cambia_esto_por_un_secreto_seguro_minimo_32_chars"
PORT=3000
NODE_ENV=development
FRONTEND_URL="https://dragondemadera.com"
